@import "normalizes.scss"
@import "resets.scss"

*
    box-sizing: border-box



@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Medium.ttf)
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Regular.ttf)
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Thin.ttf)
    font-weight: 100
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Light.ttf)
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-Bold.ttf)
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-ExtraBold.ttf)
    font-weight: 800
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'TTNormsPro'
    src: url(../fonts/TTNormsPro-ExtraBlack.ttf)
    font-weight: 900
    font-style: normal
    font-display: swap

html
    font-family: 'TTNormsPro', sans-serif
    font-weight: 400
    overflow-x: hidden

body
    background: #F5EBE9
    position: relative
    overflow-x: hidden

body::-webkit-scrollbar
  width: 9px              /* ширина scrollbar */

body::-webkit-scrollbar-track
  background: #dbae8b     /* цвет дорожки */

body::-webkit-scrollbar-thumb
  background-color: #4c4c87  /* цвет плашки */
  border-radius: 20px    /* закругления плашки */
  border: 3px solid #a96c3d  /* padding вокруг плашки */

$button-color-orange: rgb(219, 174, 139)
$button-border-color-orange: rgb(219, 174, 139)
    
.container
    max-width: 1680px
    position: relative
    margin: 0 auto
    /* z-index: 2 */

/*********** index ***********/

.header
    padding-top: 52px
    display: flex
    align-items: center
    position: sticky
    z-index: 2
    &-link_margin1
        margin-right: 200px
    &-link_margin2
        margin-right: 200px
    &-link_margin3
        margin-right: 99px
    &-link_margin4
        margin-left: 99px
    &-link_margin5
        margin-left: 162px
    &-link_margin6
        margin-left: 162px
    &-block1-ul1
        display: flex
    &-block3-ul2
        display: flex
    &-block1-link
        color: rgb(245, 235, 233)
        font-size: 20px
        font-weight: 400
        line-height: 24px
    &-block1-link_custom
        color: rgb(219, 174, 139)
        font-size: 20px
        font-weight: 400
        line-height: 24px
        white-space: nowrap
        &:hover
            color: rgb(232, 195, 166)

a
  overflow: hidden
  position: relative
  display: inline-block
  text-decoration: none

a::before
a::after 
    content: ''
    position: absolute
    width: 100%
    left: 0

a::before 
  background-color: rgb(235, 206, 200)
  height: 2px
  bottom: 0
  transform-origin: 100% 50%
  transform: scaleX(0)
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1)

a::after 
  content: attr(data-replace)
  height: 100%
  top: 0
  transform-origin: 100% 50%
  transform: translate3d(200%, 0, 0)
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1)
  color: rgb(245, 235, 233)

a:hover::before 
  transform-origin: 0% 50%
  transform: scaleX(1)

a:hover::after 
  transform: translate3d(0, 0, 0)

a span 
    display: inline-block
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1)

a:hover span 
  transform: translate3d(-200%, 0, 0)

.dropdown
    position: relative

.dropdown-content
    display: none
    position: absolute
    border-radius: 12px
    background: #f1decf
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    z-index: 1
    top: 100%
    left: 50%
    width: 160px

.dropdown-content a
    display: block
    padding: 10px 20px
    text-decoration: none
    color: #333
    transition: .3s all
    &:hover
        color: #e19a64

.dropdown:hover .dropdown-content
    display: block

.dropdown-custom
    color: rgb(219, 174, 139)
    font-size: 20px
    font-weight: 300
    line-height: 24px
    margin-top: 20px

.main-section
    min-height: 990px
    background-image: url(../images/bg-main.jpeg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center 
    &-block
        position: sticky
        z-index: 2
        margin-top: 147px
    &_title
        text-align: center
        color: rgb(219, 174, 139)
        font-size: 45px
        font-weight: 500
        line-height: 54px
        margin-bottom: 21px
    &_text
        text-align: center
        color: rgb(245, 235, 233)
        font-size: 24px
        font-weight: 300
        line-height: 29px
        margin-bottom: 38px
    &_links
        text-align: center
    &_link-button1
        margin-right: 37px
        color: rgb(245, 235, 233)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        background: $button-color-orange
        border: none
        padding: 17px 62px
        &:hover
            cursor: pointer
            background: #e7c9b2
    &_link-button2
        color: rgb(245, 235, 233)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        border: 2px solid $button-border-color-orange
        padding: 17px 62px
        background: none
        &:hover
            cursor: pointer

.overlay
    width: 1000%
    height: 142%
    background: linear-gradient(180.26deg, rgb(26, 18, 11) -68.606%,rgba(115, 115, 115, 0) 204.901%)
    position: absolute
    top: 0
    left: -10000px
    z-index: 0

.second-section
    min-height: 770px
    margin-top: 120px
    &__title
        color: rgb(26, 18, 11)
        font-size: 45px
        font-weight: 500
        line-height: 54px
        letter-spacing: 0%
        margin-bottom: 60px
    &__button
        color: rgb(245, 235, 233)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        letter-spacing: 0%
        background: $button-color-orange
        padding: 17px 98px
        border: none
        display: block
        margin: 0 auto
        &:hover
            background: #e5be9f

.carousel-custom
    border: 4px solid $button-border-color-orange
    border-radius: 37px
    display: flex
    align-items: center
    margin-bottom: 68px

.carousel-img
    width: 408px
    height: 450px
    border-radius: 37px
    margin: 32px 47px 32px 67px

.carousel-block_texts
    margin: 0

.carousel-block_title
    color: rgb(26, 18, 11)
    font-size: 40px
    font-weight: 500
    line-height: 48px
    letter-spacing: 0%
    margin-bottom: 22px

.carousel-block_description
    color: rgb(26, 18, 11)
    font-size: 24px
    font-weight: 500
    line-height: 29px
    letter-spacing: 3%
    margin-bottom: 65px
    margin-right: 35px

.carousel-block_time
    text-align: end
    color: rgb(26, 18, 11)
    font-size: 24px
    font-weight: 400
    line-height: 29px
    letter-spacing: 0%
    margin-right: 28px

.carousel-right
    margin-left: 180px
    background: #000
    opacity: 0.6
    border-radius: 50%
    margin-bottom: 50px
    font-size: 24px

.carousel-left
    margin-right: 180px
    background: #000
    opacity: 0.6
    border-radius: 50%
    margin-bottom: 50px
    font-size: 24px

.third-section
    min-height: 500px
    margin-top: 120px
    &__title
        color: rgb(26, 18, 11)
        font-size: 45px
        font-weight: 500
        line-height: 54px
        letter-spacing: 0%
        margin-bottom: 61px
    &__wrapper
        display: flex
        gap: 62px
        overflow-x: auto
        white-space: nowrap
        scroll-snap-type: x mandatory
        scrollbar-width: none
        padding-bottom: 70px
    &__text
        color: rgb(26, 18, 11)
        font-size: 40px
        font-weight: 500
        line-height: 48px
        letter-spacing: 0%
        margin-top: -70px
        text-align: center
    &__text2
        color: rgb(26, 18, 11)
        font-size: 38px
        font-weight: 500
        line-height: 48px
        letter-spacing: 0%
        margin-top: -70px
        text-align: center
    &__img1
        margin-left: 40px
    &__img2
        margin-left: 0
    &__img3
        margin-left: 0
    &__img4
        margin-left: 0
    &__img5
        margin-left: 0
    &__img6
        margin-left: 40px
    &__img7
        margin-left: 0
    &__img8
        margin-left: 0
    &__img9
        margin-left: 90px
    &__img10
        margin-left: 20px
    &__img11
        margin-left: 100px
    &__img12
        margin-left: 110px
    &__img13
        margin-left: 100px
    &__img14
        margin-left: 85px
    &__img15
        margin-left: 85px
    &__img16
        margin-left: 85px
    &__card
        width: 520px
        height: 569px
        border-top: 21px solid rgb(219, 174, 139)
        border-radius: 37px
        box-shadow: 10px 14px 56.6px -15px rgba(26, 18, 11, 0.46)
        background: rgb(248, 238, 238)
        display: grid
        align-items: center
        justify-content: center
        flex: 0 0 auto
        flex-shrink: 0
        &:hover
            cursor: pointer

.third-section__wrapper::-webkit-scrollbar
    scrollbar-width: none

#card-text__margin
    margin-bottom: 10px

.card-last__margin
    margin-right: 20px

.fourth-section
    min-height: 930px
    margin-top: 50px
    &__title
        color: rgb(26, 18, 11)
        font-size: 45px
        font-weight: 500
        line-height: 54px
        letter-spacing: 0%
        margin-bottom: 40px
    &__wrapper1
        display: flex
        justify-content: space-between
    &__wrapper2
        display: flex
        justify-content: space-between
    &__wrapper3
        display: flex
        justify-content: space-between
    &__wrapper1-left
        display: flex
        align-items: center
        gap: 20px
    &__wrapper1-right
        display: flex
        align-items: center
        gap: 20px
    &__wrapper2-left
        display: flex
        align-items: center
        gap: 20px
    &__wrapper2-right
        display: flex
        align-items: center
        gap: 20px
        margin-right: 100px
    &__wrapper3-left
        display: flex
        align-items: center
        gap: 20px
    &__wrapper3-right
        display: flex
        align-items: center
        gap: 20px
        margin-right: -40px
    &__number1
        color: rgb(219, 174, 139)
        font-size: 245px
        font-weight: 700
        line-height: 294px
        letter-spacing: 0%
    &__number2
        color: rgb(219, 174, 139)
        font-size: 245px
        font-weight: 700
        line-height: 294px
        letter-spacing: 0%
    &__number3
        color: rgb(219, 174, 139)
        font-size: 245px
        font-weight: 700
        line-height: 294px
        letter-spacing: 0%
    &__number4
        color: rgb(219, 174, 139)
        font-size: 245px
        font-weight: 700
        line-height: 294px
        letter-spacing: 0%
    &__number5
        color: rgb(219, 174, 139)
        font-size: 245px
        font-weight: 700
        line-height: 294px
        letter-spacing: 0%
    &__number6
        color: rgb(219, 174, 139)
        font-size: 245px
        font-weight: 700
        line-height: 294px
        letter-spacing: 0%
    &__title-mini
        color: rgb(26, 18, 11)
        font-size: 40px
        font-weight: 700
        line-height: 48px
        letter-spacing: 0%
        &:hover
            text-decoration: underline
    &__text-mini
        color: rgb(26, 18, 11)
        font-size: 28px
        font-weight: 500
        line-height: 34px
        letter-spacing: 3%

.fifth-section
    min-height: 860px
    margin-top: 90px
    margin-bottom: 211px
    &__wrapper1
        margin-bottom: 151px
        display: flex
        align-items: center
        justify-content: space-between
    &__wrapper2
        display: flex
        align-items: center
        justify-content: space-between
    &__title
        color: rgb(0, 0, 0)
        font-size: 45px
        font-weight: 500
        line-height: 54px
        letter-spacing: 0%
    &__hr
        width: 130px
        border: 1px solid rgb(219, 174, 139)
    &__text
        color: rgb(26, 18, 11)
        font-size: 28px
        font-weight: 500
        line-height: 34px
        letter-spacing: 3%
    &__text_margin
        margin-bottom: 64px
    &__buttons
        display: flex
        gap: 30px
    &__button1
        color: rgb(245, 235, 233)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        letter-spacing: 0%
        padding: 19px 107px
        background: $button-color-orange
        border: none
        &:hover
            background: #e5be9f
    &__button2
        color: rgb(219, 174, 139)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        letter-spacing: 0%
        background: none
        padding: 19px 70px
        border: 2px solid $button-border-color-orange

.footer-section
    min-height: 1050px
    background: rgb(74, 66, 60)
    &__wrapper_main
        display: flex
        margin-bottom: 165px
    &__wrapper1
        padding-top: 45px
        margin-right: 85px
    &__wrapper2
        padding-top: 45px
        margin-right: 23px
    &__wrapper3
        padding-top: 45px
        margin-right: 23px
    &__wrapper4
        padding-top: 45px
        margin-right: 73px
    &__wrapper5
        padding-top: 45px
    &__text
        color: rgb(245, 235, 233)
        font-size: 28px
        font-weight: 500
        line-height: 34px
        letter-spacing: 0%
        margin-top: 16px
    &__span
        font-weight: 300
    &__h6
        margin-bottom: 16px
        color: rgb(245, 235, 233)
        font-size: 33px
        font-weight: 500
        line-height: 40px
        letter-spacing: 0%
    &__li
        list-style-type: none
    &__link
        margin-bottom: 16px
        color: rgb(245, 235, 233)
        font-size: 28px
        font-weight: 300
        line-height: 34px
        letter-spacing: 0%
        &:hover
            text-decoration: underline
    &__strelka
        transition: .3s all
        &:hover
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset
            border-radius: 30%
            cursor: pointer
    &__last-info
        padding-bottom: 36px
    &__hr
        border: 1px solid rgb(245, 235, 233)
    &__last-text
        color: rgb(245, 235, 233)
        font-size: 16px
        font-weight: 300
        line-height: 19px
        letter-spacing: 0%

/*********** privacy-policy ***********/

#style-3
    color: rgb(26, 18, 11)
    &:hover
        text-decoration: underline

.header-hr
    border: 1px solid rgb(26, 18, 11)
    margin-bottom: 150px

.privacy-section
    min-height: 8100px
    margin-bottom: 150px
    &__title
        color: rgb(0, 0, 0)
        font-size: 45px
        font-weight: 500
        line-height: 54px
        letter-spacing: 0%
        margin-bottom: 30px
    &__h2
        color: rgb(26, 18, 11)
        font-size: 34px
        font-weight: 700
        letter-spacing: 3%
    &__text
        color: rgb(26, 18, 11)
        font-size: 28px
        font-weight: 500
        line-height: 136%
        letter-spacing: 3%
    &__block1
        margin-bottom: 40px
    &__block2
        margin-bottom: 40px
    &__block3
        margin-bottom: 40px
    &__block4
        margin-bottom: 40px
    &__block5
        margin-bottom: 40px
    &__block6
        margin-bottom: 40px
    &__block7
        margin-bottom: 40px
    &__block8
        margin-bottom: 40px
    &__block9
        margin-bottom: 40px
    &__block10
        margin-bottom: 40px
    &__block11
        margin-bottom: 40px
    &__m1
        margin-bottom: 40px

/*********** 403, 404, 500 and other error pages ***********/

.error-section
    &__p1
        font-size: 192px
        font-weight: 800
        line-height: 230px
        margin-top: -100px
    &__p2
        color: rgb(26, 18, 11)
        font-size: 38px
        font-weight: 700
        line-height: 46px
        margin-bottom: 30px
    &__button
        color: rgb(255, 255, 255)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        border-radius: 15px
        padding: 12px 34px
        border: none
        background: $button-color-orange
        transition: .3s all
        &:hover
            background: rgb(232, 195, 166)

#error-section__span
    color: rgb(219, 174, 139)

.error-block
    text-align: center
    margin-top: 110px




